{% extends "base.html" %}
{% load static %}

{%block content%}  
    <section id="contact" class="contact" style="padding-top: 10%;">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            
            <h2><p>Contact Us</p></h2>
          </div>
        </div>
  
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Razakova%2032+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="http://www.gps.ie/">gps devices</a></div>
  
        <div class="container" data-aos="fade-up">
  
          <div class="row mt-5">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Panchashil chowk, Ward no 1, MH 442505</p>
                </div>
  
                <div class="open-hours">
                  <i class="bi bi-clock"></i>
                  <h4>Open Hours:</h4>
                  <p>
                    Monday-Saturday:<br>
                    11:00 AM - 2300 PM
                  </p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>azatbekt5@gmail.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+996779696799</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
                <!--<form action ="{% url 'contact'%}" method ="POST">
                    {% csrf_token %}
                    <input type ="text" name = "name" placeholder = "name"><br>
                    <input type ="email" name = "email" placeholder = "email"><br>
                    <input type ="text" name = "phone" placeholder = "phone"><br>
                    <input type ="text" name = "subject" placeholder = "subject"><br>
                    <input type ="text" name = "message" placeholder = "message"><br>
                    
                    <input type ="submit" >
                    
                </form>-->
  
                <form action ="{% url 'contact'%}" method ="POST">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Your Subject" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="message" id="phone" placeholder="Any message" required>
                </div>

                <br>
              <div class="text-center"><button type="submit">Send Message</button></div>  
                <!--<div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>-->
                
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
   


{%endblock%}